<h1>User's show page</h1>
<h3>Welcome back <%= @user.name %>!</h3>
<p>
  <label for="user_name"><b>User's email : </b></label>
  <%= @user.user_name %> 
  <br><br>
  <label for="bio"><b>bio : </b></label>
  <%= @user.bio %>
  <br><br>
  <label for="contact"><b>User's contact : </b></label>
  <%= @user.contact %>
</p>

<% if @user.locations.count > 0 %>
<h4>User's favorite locations</h4>
<% @user.locations.each do |location| %>
<% if location.photos.count > 0 %>
<image src= "<%=(url_for(location.photos[0].image))%>" class="sized-image" >
  <br>
  <b> Location's name: </b> 
  <%= link_to location.name, location %> 
  <b>, description: </b> 
    <%= location.description %> 
  <br>
  <% else %>
 <b> Location's name: </b> 
<%= link_to location.name, location %> 
<b>, description: </b> 
  <%= location.description %> 
<% end %>
<% end %>
<% else %>
<strong>Your's locations list are empty!</strong>
<% end %>
<br>
<br>
<%= button_to "Edit profile!", user_edit_path(@user), :method => :get %><br>
<%= button_to "Log_out", log_out_path, :method => :get %><br>
<%= button_to "Delete me!", @user, :method => :delete  %><br>
<%= button_to "Search", locations_path, :method => :get  %><br>
