<h2>Hello! <%= @user.name %>!</h2>
<p>
  <label for="user_name"><b>User's email : </b></label>
  <%= @user.user_name %> 
  <br><br>
  <label for="bio"><b>bio : </b></label>
  <%= @user.bio %>
  <br><br>
  <label for="contact"><b>User's contact : </b></label>
  <%= @user.contact %>
</p>

<% if @user.locations.count > 0 %>
<h4>User's favorite locations</h4>
<% @user.locations.each do |location| %>
<image src= "<%=(url_for(location.photos[0].image))%>" class="sized-image" >
  <br>
 <b> Location's name: </b> 
<%= link_to location.name, location %> 
<b>, description: </b> 
  <%= location.description %> 
<% end %>
<% else %>
<strong>Your's locations list are empty!</strong>
<% end %>
<br>
<br>

<%= button_to "Delete me!", @user, :method => :delete  %><br>

