<h2>Hello! <%= @user.name %>!</h2>

<div class= 'image-container'>  
  <p>Nmae: <%= @user.user_name %> 
    <p>Bio: <%= @user.bio %>
      <p>Contact: <%= @user.contact %>

<% if @user.locations.count > 0 %>
<h4>User's favorite locations</h4>
<div class="posts">
<% @user.locations.each do |location| %>
<div class='post'>

Locaiton: <%= link_to location.name, location_path(location.id) %> 
<br>
Location's description: <%= location.description %> 
<br>
<% location.posts.each do |post| %>
  <% if location.photos.count > 0 %>
    <% location.photos.each do |photo| %> 
<%= image_tag(photo.image, class: "sized-image") if photo.image.attached? && photo.user_id == @user.id  %>
<% end %>
<% end %> 
Review: <%= post.content if post.user_id == @user.id%>
<%= button_to "Delete review!", { action: "delete_review", location_id: location.id}, method: :delete %>
<% end %>
</div>
<% end %>
</div>
<% else %>
<strong>Your's locations list are empty!</strong>
<% end %>


<%= button_to "Edit me!", user_edit_path, :method => :get %><br>
<%= button_to "Cancel my account!", @user, :method => :delete  %><br>

</div>