<h2>Hello! <%= @user.name %>!</h2>

<div class= 'image-container'>  
  <p>Nmae: <%= @user.user_name %> 
    <p>Bio: <%= @user.bio %>
      <p>Contact: <%= @user.contact %>

<% if @user_photos.count > 0 %>
<h4>User's favorite locations</h4>
<div class="posts">
<% @user_photos.each do |photo| %>
<div class='post'> 
  <% if photo.image.attached?  %>
  <%= image_tag(photo.image, class: "sized-image") %>
<% end %>

Locaiton: <%= link_to photo.find_location.name, location_path(photo.find_location.id) %> 
<br>
Location's description: <%= photo.find_location.description %> 
<br>
Review: <%= photo.find_post.content %>
<%= button_to "Delete review!", { action: "delete_review", location_id: photo.find_location.id}, method: :delete %>

</div>
<% end %>
</div>
<% else %>
<strong>Your's locations list are empty!</strong>
<% end %>


<%= button_to "Edit me!", user_edit_path, :method => :get %><br>
<%= button_to "Cancel my account!", @user, :method => :delete  %><br>

</div>