<h1><%= @location.name %></h1>

<% @location.photos.each do |photo_object|%>
    <% if photo_object.image.attached? %>
 
        <image src= "<%=(url_for(photo_object.image))%>" class="sized-image" >
    <% end %>
<% end %>

<br><br>

<div class= posts>
<% @location.photos.each do |photo| %>


    <div class='img-post'>

        <% if photo.image.attached? %>
            <image src= "<%=(url_for(photo.image))%>" class="sized-image" >
        <% end %>

    </div>

<% end %>



<% @location.posts.each do |post| %>


    <div class='post'>
        <p><%= post.user.user_name %></p>
        <p><%= post.content %></p>
    </div>
<% end %>

</div>

<br><br>
<%= link_to  "See All Locations", locations_path %>
