<h1><%= @location.name %></h1>
<%= link_to  "Create a Post", new_post_path %>


<br><br>
<%= link_to  "See All Locations", locations_path %>

<div class="posts">
<% @posts_photos.each do |post| %>
    <% if post.class.name == 'Post' %>
        <div class='post'>
            <p>Username: <%= post.user.user_name %></p>
            <p><%= post.content %></p>
        </div>
    <% else %>
        <div class='post'>

            <p>Username: <%= post.user.user_name %></p>

            <% if post.image.attached? %>
                <image src= "<%=(url_for(post.image))%>" class="sized-image" >
            <% end %>

        </div>
    <% end %>
<% end %>

</div>