<!DOCTYPE html>
<html>
  <head>
    <title>Mod2Project</title>
    <%= stylesheet_link_tag "application" %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    
  <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Trade+Winds&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap" rel="stylesheet">
  </head>

  <body >
    <div class="container">
      <div class='header'>
        
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" >Travel-Gram</a>
        <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> -->
          <!-- <span class="navbar-toggler-icon"></span> -->
        <!-- </button> -->
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <%= link_to "Main", "/locations",class:"nav-link" if logged_in?%>
            </li>
            <li class="nav-item">
              <%= link_to "profile", "/users/profile",class:"nav-link" if logged_in?%>
            </li>
            <li class="nav-item">
              <%= link_to "Logout", "/sessions/logout",class:"nav-link" if logged_in?%>
            </li>
          </ul> 
            <%= button_to "New User", new_user_path, method: :get if !logged_in?%>
          </form>
        </div>
    </nav>
    <div class="header-image">
    </div>

    </div>
    <%= yield %>

  </div>
  </body>

</html>
