<!DOCTYPE html>
<html>
  <head>
    <title>Mod2Project</title>
    <%= stylesheet_link_tag "application" %>
    <style><%= yield :stylesheets %></style>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <div class='header'>
    
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" >AppNameShouldBeHere</a>
  <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> -->
    <!-- <span class="navbar-toggler-icon"></span> -->
  <!-- </button> -->

  <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/locations">Main menu <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users/profile">profile</a>
      </li>
      <li class="nav-item dropdown">
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/sessions/logout" tabindex="-1" aria-disabled="true">Log out</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->
  <!-- </div> -->
<!-- </nav> -->
  </div>
  <img class="home_img fallback" src="https://media-cdn.tripadvisor.com/media/photo-b/1024x250/1a/a8/9a/e2/caption.jpg" 
    srcset="https://media-cdn.tripadvisor.com/media/photo-b/1024x250/1a/a8/9a/e2/caption.jpg 1024w, 
    https://media-cdn.tripadvisor.com/media/photo-b/1280x250/1a/a8/9a/e2/caption.jpg 1280w, 
    https://media-cdn.tripadvisor.com/media/photo-b/2560x500/1a/a8/9a/e2/caption.jpg 2560w" 
    style="object-position: 50% 50%">
  <body>
    <%= yield %>
  </body>
</html>
